<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>

	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.3/glider.min.css">
	<link rel="stylesheet" href="styles/reset.css">
	<link rel="stylesheet" href="styles/general.css">
	<link rel="stylesheet" href="styles/m-slider.css">
	<link rel="stylesheet" href="styles/m-collection.css">
	<link rel="stylesheet" href="styles/home.css">
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.3/glider.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

	<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->
</head>
<body class="home home-header-extend">

	<!-- HEADER -->
	<header id="site-header">
		<div class="top-header">
			<div class="container">
				<div class="row align-items-center">
					<!-- HEADER LEFT -->
					<div class="header-left col">
						<div class="header-left-row d-flex justify-content-start">
							<div class="header-search-form">
								<form action="">
									<div class="search-input-wrapper">
										<input class="search-input" type="text" placeholder="Search Keywords">
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- HEADER CENTER -->
					<div class="header-center col">
						<div class="header-center-row d-flex justify-content-center">
							<div class="site-logo">
								<img src="images/logo.png" alt="Animatra">
							</div>
						</div>
					</div>
					<!-- HEADER RIGHT -->
					<div class="header-right col">
						<div class="header-right-row d-flex justify-content-end">
							<button class="header-btn notification-btn">
								<i class="fas fa-bell"></i>
							</button>
							<button class="header-btn user-btn">
								<i class="fas fa-user"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-header">
			<div class="container">
				<nav class="navbar navbar-expand-lg d-flex align-items-center justify-content-center">
					<ul id="main-menu" class="navbar-nav menu">
						<li class="nav-item active"><a class="nav-link" href="#">Home Page</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Online Anime</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Manga Reader</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Anime Ovas</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Online Movies</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Forums</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<!-- BODY -->
	<main id="site-body">

		<!-- HOME SLIDER -->
		<section class="home-section home-featured-slider">
			<div class="container">
				<div class="m-collection m-collection--big-thumbnail m-slider featured-slider">
					<div class="m-collection__heading">
						<div class="m-heading"><h4 class="m-heading__content">Featured</h4></div>
					</div>
					<div class="m-collection__content glider-contain">
						<div class="glider" data-glider='{"slidesToShow":3,"slidesToScroll":3,"dots":".dots"}'>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21087-StyhVqAzIy4t.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#"></a>Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#"></a>Episode 05</a></div>
									</div>
									<div class="meta-type">
										<i class="fas fa-play"></i>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx104647-dMGZSavRxHcM.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
									<div class="meta-type">
										<i class="fas fa-play"></i>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
									<div class="meta-type">
										<i class="fas fa-play"></i>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114236-lSQF4ljWQXdU.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
									<div class="meta-type">
										<i class="fas fa-play"></i>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114308-8UBiS7U9buzu.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
									<div class="meta-type">
										<i class="fas fa-play"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="dots" role="tablist"></div>
					</div>
				</div>
			</div>
		</section>

		<!-- TOP RATED SLIDER -->
		<section class="home-section home-top-rated-slider">
			<div class="container">
				<div class="m-collection m-collection--big-thumbnail">
					<div class="m-collection__heading">
						<div class="m-heading"><h4 class="m-heading__content">Top Rated Animes</h4></div>
					</div>
					<div class="m-collection__content">
						<div class="row">
							<div class="col-md-3">
								<div class="m-item">
									<div class="thumbnail">
										<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21087-StyhVqAzIy4t.jpg"
											alt="">
									</div>
									<div class="meta-top">
										<div class="left-badge">
											<div class="left-badge-wrapper">
												<div class="badge-text-big">9.5</div>
												<div class="badge-text">rating</div>
											</div>
										</div>
										<div class="top-badge">
											<i class="fas fa-play"></i>
										</div>
									</div>
									<div class="meta-bottom">
										<div class="meta-title">
											<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
											<div class="manga-chapter"><a href="#">Episode 05</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="m-item">
									<div class="thumbnail">
										<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx104647-dMGZSavRxHcM.jpg"
											alt="">
									</div>
									<div class="meta-top">
										<div class="left-badge">
											<div class="left-badge-wrapper">
												<div class="badge-text-big">9.5</div>
												<div class="badge-text">rating</div>
											</div>
										</div>
										<div class="top-badge">
											<i class="fas fa-play"></i>
										</div>
									</div>
									<div class="meta-bottom">
										<div class="meta-title">
											<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
											<div class="manga-chapter"><a href="#">Episode 05</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="m-item">
									<div class="thumbnail">
										<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg"
											alt="">
									</div>
									<div class="meta-top">
										<div class="left-badge">
											<div class="left-badge-wrapper">
												<div class="badge-text-big">9.5</div>
												<div class="badge-text">rating</div>
											</div>
										</div>
										<div class="top-badge">
											<i class="fas fa-play"></i>
										</div>
									</div>
									<div class="meta-bottom">
										<div class="meta-title">
											<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
											<div class="manga-chapter"><a href="#">Episode 05</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="m-item">
									<div class="thumbnail">
										<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114236-lSQF4ljWQXdU.jpg"
											alt="">
									</div>
									<div class="meta-top">
										<div class="left-badge">
											<div class="left-badge-wrapper">
												<div class="badge-text-big">9.5</div>
												<div class="badge-text">rating</div>
											</div>
										</div>
										<div class="top-badge">
											<i class="fas fa-play"></i>
										</div>
									</div>
									<div class="meta-bottom">
										<div class="meta-title">
											<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
											<div class="manga-chapter"><a href="#">Episode 05</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- SUBSCRIPTION BANNER -->
		<section class="home-section home-subscription-banner">
			<div class="container">
				<div class="subscription text-uppercase p-5">
					<div class="row">
						<div class="col d-flex flex-column align-items-start">
							<span class="heading-underline h3">Subscribe</span>
							<span class="h6 font-weight-normal">to get favorit anime</span>
							<span class="heading-underline h6 font-weight-light">to get the newest episodes</span>
						</div>
						<div class="col d-flex flex-column">
							<div class="subscription-logo">
								<i class="fas fa-user-plus"></i>
							</div>
							<div class="subscription-step d-flex">
								<div class="subscription-step-left d-flex flex-column">
									<span class="h4 heading-underline">01</span>
									<small>step</small>
								</div>
								<div class="subscription-step-right d-flex flex-column">
									<span class="h4">Signup</span>
									<small>create an account</small>
								</div>
							</div>
						</div>
						<div class="col d-flex flex-column">
							<div class="subscription-logo">
								<i class="fas fa-bars"></i>
							</div>
							<div class="subscription-step d-flex">
								<div class="subscription-step-left d-flex flex-column">
									<span class="h4 heading-underline">02</span>
									<small>step</small>
								</div>
								<div class="subscription-step-right d-flex flex-column">
									<span class="h4">Choose</span>
									<small>Choose your anime</small>
								</div>
							</div>
						</div>
						<div class="col d-flex flex-column">
							<div class="subscription-logo">
								<i class="fas fa-bell"></i>
							</div>
							<div class="subscription-step d-flex">
								<div class="subscription-step-left d-flex flex-column">
									<span class="h4 heading-underline">03</span>
									<small>step</small>
								</div>
								<div class="subscription-step-right d-flex flex-column">
									<span class="h4">Subscribe</span>
									<small>Click to subscribe</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="home-section home-latest-slider">
			<div class="container">
				<div class="m-collection m-slider m-collection--big-thumbnail">
					<div class="m-collection__heading">
						<div class="m-heading"><h4 class="m-heading__content">Latest Manga</h4></div>
						<div class="m-navigation">
							<button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
							<button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button>
						</div>
					</div>
					<div class="m-collection__content glider-contain">
						<div class="glider"
							data-glider='{"slidesToShow":4,"slidesToScroll":1,"arrows":{"prev":".glider-prev","next":".glider-next"}}'>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21087-StyhVqAzIy4t.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx104647-dMGZSavRxHcM.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114236-lSQF4ljWQXdU.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114308-8UBiS7U9buzu.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- SUBSCRIPTION BANNER -->
		<section class="home-section home-subscription-banner">
			<div class="container">
				<div class="subscription text-uppercase p-5">
					<div class="row">
						<div class="col d-flex flex-column align-items-start">
							<span class="heading-underline h3">Subscribe</span>
							<span class="h6 font-weight-normal">to get favorit anime</span>
							<span class="heading-underline h6 font-weight-light">to get the newest episodes</span>
						</div>
						<div class="col d-flex flex-column">
							<div class="subscription-logo">
								<i class="fas fa-user-plus"></i>
							</div>
							<div class="subscription-step d-flex">
								<div class="subscription-step-left d-flex flex-column">
									<span class="h4 heading-underline">01</span>
									<small>step</small>
								</div>
								<div class="subscription-step-right d-flex flex-column">
									<span class="h4">Signup</span>
									<small>create an account</small>
								</div>
							</div>
						</div>
						<div class="col d-flex flex-column">
							<div class="subscription-logo">
								<i class="fas fa-bars"></i>
							</div>
							<div class="subscription-step d-flex">
								<div class="subscription-step-left d-flex flex-column">
									<span class="h4 heading-underline">02</span>
									<small>step</small>
								</div>
								<div class="subscription-step-right d-flex flex-column">
									<span class="h4">Choose</span>
									<small>Choose your anime</small>
								</div>
							</div>
						</div>
						<div class="col d-flex flex-column">
							<div class="subscription-logo">
								<i class="fas fa-bell"></i>
							</div>
							<div class="subscription-step d-flex">
								<div class="subscription-step-left d-flex flex-column">
									<span class="h4 heading-underline">03</span>
									<small>step</small>
								</div>
								<div class="subscription-step-right d-flex flex-column">
									<span class="h4">Subscribe</span>
									<small>Click to subscribe</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="home-section home-latest-movies">
			<div class="container">
				<div class="m-collection m-slider m-collection--big-thumbnail">
					<div class="m-collection__heading">
						<div class="m-heading"><h4 class="m-heading__content">Latest Movies</h4></div>
						<div class="m-navigation">
							<button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
							<button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button>
						</div>
					</div>
					<div class="m-collection__content glider-contain">
						<div class="glider"
							data-glider='{"slidesToShow":4,"slidesToScroll":1,"arrows":{"prev":".glider-prev","next":".glider-next"}}'>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21087-StyhVqAzIy4t.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx104647-dMGZSavRxHcM.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114236-lSQF4ljWQXdU.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
							<div class="m-item">
								<div class="thumbnail">
									<img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114308-8UBiS7U9buzu.jpg"
										alt="">
								</div>
								<div class="meta-top">
									<div class="left-badge">
										<div class="left-badge-wrapper">
											<div class="badge-text-big">9.5</div>
											<div class="badge-text">rating</div>
										</div>
									</div>
									<div class="top-badge">
										<i class="fas fa-play"></i>
									</div>
								</div>
								<div class="meta-bottom">
									<div class="meta-title">
										<div class="item-title"><a href="#">Shingeki no Kyojin S02</a></div>
										<div class="manga-chapter"><a href="#">Episode 05</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
			
	</main>
	
	<footer id="site-footer">
		<div class="container">
			<div class="footer-widgets">
				<div class="row">
					<div class="footer-column col">
						<div class="widget">
							<div class="widget__title">
								<div class="m-heading ">
									<h4 class="m-heading__content">Puplare Anime</h4>
								</div>
							</div>
							
							<div class="widget__content">
								<div class="m-collection m-collection--small-thumbnail">
									<div class="m-collection__content">
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
							
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
							
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-column col">
						<div class="widget">
							<div class="widget__title">
								<div class="m-heading ">
									<h4 class="m-heading__content">Puplare Anime</h4>
								</div>
							</div>
							
							<div class="widget__content">
								<div class="m-collection m-collection--small-thumbnail">
									<div class="m-collection__content">
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
							
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
							
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-column col">
						<div class="widget">
							<div class="widget__title">
								<div class="m-heading ">
									<h4 class="m-heading__content">Puplare Anime</h4>
								</div>
							</div>
							
							<div class="widget__content">
								<div class="m-collection m-collection--small-thumbnail">
									<div class="m-collection__content">
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
							
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
							
										<div class="m-item">
											<div class="item-thumbnail">
												<div class="thumbnail thumbnail-square">
													<img src="https://via.placeholder.com/100x100" alt="">
												</div>
											</div>
											<div class="item-meta">
												<div class="item-title"><a href="#">Berserk 2017</a></div>
												<div class="item-title"><a href="#">Chapter 1</a></div>
												<div class="item-link"><a href="#">Read now</a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-column col">
						<div class="m-heading widget__title"><span class="m-heading__content">Anime Of The Day</span></div>
						<div class="widget__content">
							<img src="https://via.placeholder.com/270x240" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="footer-menu py-2">
				<div class="navbar navbar-expand-lg text-uppercase">
					<ul class="navbar-nav menu d-flex align-items-center justify-content-between">
						<li class="nav-item"><a class="nav-link" href="#">Home Page</a></li>
						<li class="nav-item"><a class="nav-link"  href="#">Online Anime</a></li>
						<li class="nav-item"><a class="nav-link"  href="#">Manga Reader</a></li>
						<li class="nav-item"><a class="nav-link"  href="#">Anime Ovas</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Home Page</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Online Anime</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Manga Reader</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Anime Ovas</a></li>
					</ul>
				</div>
			</div>
		</div>		
	</footer>

	<div id="site-sub-footer">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col">
					<div class="sub-footer-left text-start my-4">
						<div class="h6 font-weight-normal text-uppercase">Made with a lot of passion</div>
					</div>
				</div>
				<div class="col">
					<div class="sub-footer-right text-end my-4">
						<div class="h6 font-weight-normal">Copyright @2020</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER SCRIPT -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
	<script src="scripts/m-slider.js"></script>

</body>
</html>