/* COMMENTS */
#commentContent {
    border-radius: 20px;
}

#commentsList > ul > li.comment-item {
    background-color: var(--bs-white);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

#commentsList > ul > li.comment-item:last-child {
    margin-bottom: 0;
}

#commentsList > ul > li.comment-item .comment-item__header {
    border-bottom: 1px solid var(--border-color);
    padding: 20px;
    display: flex;
}

#commentsList > ul > li.comment-item .comment-item__content {
    padding: 20px;
}

#commentsList > ul > li.comment-item .user-avatar {
    max-width: 50px;
    max-height: 50px;
}

#commentsList > ul > li.comment-item .comment-item__header--left {
    margin-right: 1rem;
}

#commentsList > ul > li.comment-item .comment-item-author {
    color: var(--primary-color);
    font-weight: 600;
}

#commentsList > ul > li.comment-item .comment-item-datetime {
    color: rgb(171,171,171);
}

#commentsList > ul > li.comment-item .comment-item__content p:last-child {
    margin-bottom: 0;
}