.home-subscription-banner{
	background-color: var(--primary-color);
	color: var(--primary-text-color);
}

.subscription{
	font-family: 'Roboto', sans-serif;
}

.subscription .subscription-logo {
    font-size: 20px;
    margin-left: 4px;
}