.m-collection {
    margin: 3em 0px;
}

.m-collection .m-collection__content {
    margin: 1em 0;
}

.m-item {
    position: relative;
}

.m-item .thumbnail {
    position: relative;
	overflow: hidden;
	z-index: 0;
}

.m-item .item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    max-height: 2.4em;
}

.m-item .thumbnail > img {
    position: absolute;
    /* top: 0;
    max-width: unset;
    height: 100%;
    width: auto;
    transform: translate(-50%, 0);
    left: 50%; */
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

/* BIG THUMBNAIL LAYOUT */
.m-collection--big .m-item .meta-top {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.m-collection--big .m-item .item-title{
    font-size: 17px;
    font-weight: 500;
}

.m-collection--big .m-item .meta-top .left-badge {
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 100%;
    width: 30%;
	padding-top: 30%;
}

.m-collection--big .m-item .meta-top .left-badge .badge-text-big {
	font-size: 2em;
	line-height: 1em;
	font-family: 'Roboto', sans-serif;
	order: 2;
}

.m-collection--big .m-item .meta-top .left-badge .badge-text {
	text-transform: uppercase;
	order: 1;
}

.m-collection--big .m-item .meta-top .left-badge-wrapper {
    position: absolute;
    top: 15%;
	left: 15%;
	display: flex;
    flex-flow: column;
}

.m-collection--big .m-item .meta-top .top-badge{
	align-self: flex-start;
	background-color: var(--secondary-color);
	color: #fff;
	border-radius: 100%;
	width: 3em;
	height: 3em;
	margin: 1em;
	display: flex;
	justify-content: center;
    align-items: center;
}

.m-collection--big .m-item:before {
    content: '';
    display: block;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    height: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.m-collection--big .m-item .meta-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
	padding: 20px;
	z-index: 2;
}

.m-collection--big .m-item .meta-bottom .meta-type {
    align-self: flex-end;
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.m-collection--big .m-item .meta-bottom .meta-type > i {
    margin-left: 4px;
}

.m-collection--big .m-item .meta-bottom .meta-title {
	font-family: 'Roboto';
    font-size: 1.2em;
    text-transform: uppercase;
    width: 100%;
}

.m-collection--big .m-item .meta-bottom .meta-title .item-title {
    font-weight: 500;
    white-space: nowrap;
}

.m-collection--big .m-item .meta-bottom .meta-title .item-title + .manga-chapter {
	border-top: 1px solid #fff;
	font-weight: 100;
	padding-top: 5px;
}

.m-collection--big .m-item .thumbnail {
    padding-top: 150%;
}

/* SMALL THUMBNAIL LAYOUT */
/* REGULAR THUMBNAIL */

.m-collection--small .m-item,
.m-collection--regular .m-item {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.m-collection--small .m-item:last-child,
.m-collection--regular .m-item:last-child 
{
    margin-bottom: 0px;
}

.m-collection--small .m-item .item-thumbnail,
.m-collection--regular .m-item .item-thumbnail {
    width: 80px;
    margin-right: 10px;
}

.m-collection--small .m-item .item-meta,
.m-collection--regular .m-item .item-meta {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    display: flex; 
    flex-flow: column;
    justify-content: space-between;
}

.m-collection--small .m-item .item-title,
.m-collection--regular .m-item .item-title {
    font-weight: 400;
}

.m-collection--small .m-item .item-link,
.m-collection--regular .m-item .item-link{
    color: #ffab19;
}

.m-collection--small .m-item .thumbnail{
    padding-top: 100%;
}

.m-collection--regular .m-item .thumbnail {
    padding-top: 150%;
}