/* SLIDER */
.m-slider .m-collection__heading .m-navigation {
    position: relative;
}

.m-slider .m-collection__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.m-slider .m-collection__heading .m-navigation button {
    position: static;
    font-size: 15px;
    padding: 5px 10px;
    margin-left: 5px;
    border-top: 1.5px solid;
}

.m-slider .m-collection__heading .m-navigation button:active, .m-slider .m-collection__heading .m-navigation button:focus{
	outline: none;
}

.m-slider .m-collection__heading .m-navigation button.glider-prev {
    border-left: 1.5px solid;
}

.m-slider .m-collection__heading .m-navigation button.glider-next {
    border-right: 1.5px solid;
}

.m-slider .glider-next.disabled, .m-slider .glider-prev.disabled {
    opacity: 1;
}

.m-slider .glider-dot {
    width: 40px;
	height: 12px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.m-slider .glider-dot.active {
    background: var(--primary-color);
}

.m-slider .glider-dot:active, .glider-dot:focus{
	outline: none;
}

.m-slider .glider{
	margin-left: -12px;
	margin-right: -12px;
}

/* FEATURED SLIDER */
.m-slider.featured-slider {
	position: relative;
}

.m-slider.featured-slider .m-item{
	margin: 0px;
}

.m-slider.featured-slider .m-heading {
    position: absolute;
    border-left: 1.5px solid #fff;
	border-right: 1.5px solid #fff;
    right: 100%;
	padding: 0;
    margin: 0 15px 0 0;
    line-height: 1.5;
}

.m-slider.featured-slider .m-collection__content {
    margin: 0;
}

.m-slider.featured-slider .m-heading .m-heading__content {
    color: #fff;
    writing-mode: vertical-lr;
    text-orientation: upright;
	font-size: 20px;
	font-weight: 200;
    padding: 0;
}

.m-slider.featured-slider .m-heading .m-heading__content::before{
	content: unset;
}

.m-slider.featured-slider .glider{
	margin: 0;
}

.m-slider.featured-slider .m-item .meta-bottom .meta-title {
    font-size: 1.5em;
}

.m-slider.featured-slider .m-item .meta-top .left-badge{
	background-color: var(--secondary-color);
}

.m-slider.featured-slider .m-item .meta-top .left-badge .badge-text{
	order: 2;
}

.m-slider.featured-slider .m-item .meta-top .left-badge .badge-text-big {
	font-size: 3em;
	order: 1;
}

.m-slider.featured-slider .m-heading:before {
    content: unset;
}

.m-slider .m-item {
    margin-left: 12px;
    margin-right: 12px;
}

.m-slider .m-collection__heading {
    position: relative;
}