.page__header {
    position: relative;
}

body.has-page-header .page__content {
    padding: 50px 0px;
    background-color: rgb(252,252,252);
    border-top: 1px solid var(--border-color);
}

.sidebar-col__content.sidebar--offset {
    margin-top: -120px;
    background-color: #fff;
}