@media(min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

.nav-link {
    color: inherit;
}

.nav-link:hover {
    color: inherit;
}

a:hover {
    color: inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--heading-color);
}

.text-white h1, 
.text-white h2,  
.text-white h3,  
.text-white h4,  
.text-white h5,  
.text-white h6,
.text-white .h1,  
.text-white .h2,  
.text-white .h3,  
.text-white .h4,  
.text-white .h5,  
.text-white .h6,
.text-white .m-heading {
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity));
}
