@media(min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

.nav-link {
    color: inherit;
}

.nav-link:hover {
    color: inherit;
}

a:hover {
    color: inherit;
}