.home-subscription-banner{
	background-color: var(--primary-color);
    background-image: url(/img/background-banner.png);
	background-size: cover;
	background-position: top;
	color: var(--primary-text-color);
}

.home-subscription-banner i.fa-bell.icon-background {
    position: absolute;
    font-size: 60px;
    opacity: .3;
    transform: rotate(20deg);
    left: 200px;
    top: -3px;
}

.subscription{
	font-family: 'Roboto', sans-serif;
}

.subscription .subscription-logo {
    font-size: 20px;
    margin-left: 4px;
}

body.home section{
	margin: 2em auto;
}