.manga__title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-size: 1.5rem;
}

.manga-status__value {
    color: rgb(133,208,131);
}

body.manga-page .manga__header .manga__rating i {
    font-size: 17px;
}

.manga__rating i {
    margin: 0px 1px;
}

.manga__rating i.filled {
    color: rgb(242,193,109);
}

body.manga-page .manga-info-heading {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 30px;
}

body.manga-page .sidebar-col__content.sidebar--offset {
    margin-top: -172px;
}

body.manga-page .manga-thumbnail {
    position: relative;
    padding-top: 150%;
    overflow: hidden;
}

body.manga-page .manga-thumbnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: unset;
    max-width: unset;
}

.manga-buttons .btn {
    background-color: rgb(220 220 220);
    color: rgb(183 183 183);
    border-radius: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px 20px;
    min-width: 110px;
}

.manga-buttons .btn .btn__icon {
    font-size: 27px;
}

.manga-buttons .btn .btn__text {
    font-weight: 700;
    font-size: 14px;
}

.manga-buttons .btn.btn-favorite {
    background-color: rgb(231 109 105);
    color: #fff;
}

.manga-buttons .btn.btn-read-later {
    background-color: rgb(149 135 188);
    color: #fff;
}

.manga-buttons .btn.btn-subscribe {
    background-color: rgb(135 208 132);
    color: #fff;
}

.manga-buttons .btn.btn-rate {
    background-color: var(--bs-yellow);
    color: #fff;
}

ul#chapters-list {
    list-style: none;
    padding: 0;
}

ul#chapters-list > li.chapter-item {
    background-color: #fff;
    border: 1px solid rgb(229,229,229);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul#chapters-list > li.chapter-item:not(:first-child) {
    border-top: none;
}

.chapter-item .chapter-name {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(41 41 41);
}

.chapter-item .chapter-name, .chapter-item .chapter-extend-name {
    color: rgb(41 41 41);
}

.chapter-item .chapter-buttons i {
    color: rgb(77 77 77);
}

ul#tags-list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul#tags-list .tag-item {
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 700;
    color: rgb(88,88,88);
    border: 1px solid rgb(229,229,229);
    margin: 0px 15px 10px 0px;
    font-size: 12px;
}

.rating-container .caption {
    display: block !important;
    margin-top: 1em;
    color: #fff !important;
}

.caption-danger {
    background-color: var(--bs-danger);
}

.caption-info {
    color: #fff;
}

.caption-badge {
    color: #fff !important;
}

.caption-warning {
    background-color: var(--bs-orange);
}

.caption-info {
    background-color: var(--bs-info);
}

.caption-primary {
    color: var(--bs-primary);
}

.caption-success {
    color: var(--bs-success);
}

.rating-input {
    display: none;
}

.rating-sm {
    line-height: 24px;
}

.btn-go-chapter {
    min-width: 100px;
}

.btn-go-chapter.purchased {
    background-color: var(--bs-gray-500);
    background-color: var(--bs-success);
}