.header-mobile-menu-btn {
    display: none;
}

@media (max-width: 991px) {
    .header-mobile-menu-btn {
        display: block;
    }

    .header-left {
        display: none;
    }

    .menu-header {
        display: none;
    }

    .top-header {
        padding: 20px 0;
    }
    
    .header-center-row {
        justify-content: flex-start !important;
    }

    .user-summary {
        flex-flow: column;
    }

    .m-slider .m-item {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
    
    .m-slider .glider {
        margin-left: -2.5px;
        margin-right: -2.5px;
    }

}


@media (max-width: 768px) {

    .row>* {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .glider-paginate {
        display: none;
    }

    #site-body .header-extend {
        padding: 106px 0 2em;
        margin-top: -106px;
    }
    
    .top-header .header-btn-group {
        margin: 0px 5px;
    }

    .floating-menu {
        transform: scale(0.6);
        left: 15px;
        bottom: 60px;
    }
    
    .m-item .meta__top .badge--left {
        font-size: 9px;
    }
    
    /* .m-slider.featured-slider .m-item .meta__top .badge--left .badge-text-big {
        font-size: 1.8rem;
    } */
    
    .dropdown-list.dropdown-menu {
        top: 63px !important;
    }

    .manga-page .manga-buttons {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    
    .manga-page .manga-buttons .btn {
        width: 45%;
    }

    .manga-page .sidebar-col section.related-mangas {
        display: none;
    }

    .sidebar-col__content.sidebar--offset {
        margin-top: 0 !important;
    }

    ul#profile-menu {
        overflow-y: scroll;
        width: 100%;
    }
    
    ul#profile-menu > li > a {
        white-space: nowrap;
    }

}
